@tailwind base;
@tailwind components;
@tailwind utilities;

div {
    font-family: 'Karantina', cursive;
}

.navBarLink {
  transition: transform 0.3s ease-in-out;
  border-bottom: none;
}

.navBarLink:hover {
  transform: translateY(-5px);
  border-bottom: 2px solid #3F95C6;
}

@keyframes custom-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-custom-rotate {
  animation: custom-rotate 10s linear infinite;
}

.no-scroll {
  overflow: hidden;
}